In [3]:
import pandas as pd

In [4]:
import numpy as np

In [25]:
import mysql

In [33]:
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="",
  database="wesh"
)

print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000001B0AB1D2898>

In [34]:

import mysql.connector as sql
import pandas as pd

In [45]:


db_connection = sql.connect(host='localhost', database='menorah', user='root', password='')
db_cursor = db_connection.cursor()
db_cursor.execute('SELECT * FROM users')

table_rows = db_cursor.fetchall()

df = pd.DataFrame(table_rows)

In [46]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,1,Wesh,administrator,mjwaweru007@gmail.com,$2y$10$7P6d2W43IqTWmI0YA3luH.CARV5uibwKD7fGs3T...,wesh,1,1,None,,...,None,None,None,None,None,JDN6x3fVNDmEI88mb8SPLqB4NqB2iEvZb19MAX9UPDCqzg...,None,None,2020-02-01 06:41:52,2020-02-01 06:41:52
1,2,Mike Jones,Mike,mjwaweru00007@gmail.com,$2y$10$t0ERPv/67gRiFvQFsyDz.O8HQeM6tGgRH8QIPO9...,mike-jones-1,1,5,None,,...,None,None,None,None,None,None,None,None,2020-02-01 07:21:21,2020-02-01 07:21:21